i {
  position: fixed;
  left: 39.4rem;
  bottom: 0.5rem;
  cursor: pointer;
}

.nes-balloon {
position: fixed;
left: 45.4rem;
bottom: 1.9rem;
}

#balloonContent {
display: none; /* Initially hide the balloon */
}

#showBalloon:hover + #balloonContent {
display: block; /* Show the balloon when hovering over #showBalloon */
}
