<app-navbar></app-navbar>
<div class="nes-container is-dark is-centered main-container">
  <app-home-btn></app-home-btn>
  <div class="d-flex align-items-center justify-content-center">
    <h1 class="text-center mt-2">Ahorcado </h1>
    <i class="nes-pokeball"></i>
  </div>

  <div class="mt-4">
    <h4>Adivina el <span class="nes-text is-error">Pokémon</span>:</h4>
  </div>

  <div class="mt-5">
    Intentos: <span class="nes-text is-error" id="mistakes">0</span> de 6
  </div>

  <div class="text-center letter-container">
    <p id="wordSpotlight"></p>

    <div class="mt-5" id="keyboard">
      <button
        *ngFor="let letter of keyboard"
        class="nes-btn is-primary p-2 m-2"
        id="{{ letter }}"
        (click)="handleGuess(letter)"
      >
        {{ letter }}
      </button>
    </div>
  </div>
  <button class="nes-btn is-warning btn-reset mt-5" (click)="reset()">
    Reiniciar
  </button>
  <div class="icon-list">
    <i class="nes-bulbasaur"></i>
    <i class="nes-charmander"></i>
    <i class="nes-squirtle"></i>
    <i class="nes-kirby"></i>
  </div>
</div>

<app-chat></app-chat>
