.navbar {
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 100; /* Add a higher z-index to make sure it's on top of other elements */
  background-color: white; /* Set the desired background color */
}

#navbar-title {
  font-size: 14px;
}

#btnLogOut {
  font-size: 8px;
}

#userProfile {
  font-size: 11px;
}

#about-me-title {
  font-size: 11px;
}

@media (max-width: 650px) {
  #navbar-title {
   display: none;
  }
}
