.navbar {
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 100; /* Add a higher z-index to make sure it's on top of other elements */
  background-color: white; /* Set the desired background color */
  border-bottom: 4px solid #D3D3D3;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-brand {
  display: flex;
  flex-direction: row;
}

.snes-jp-logo {
  margin-top: 1px;
}

.nes-ash {
  height: 20px;
}

.nav-brand i {
  margin-right: 20px; /* Adjust the margin as needed */

}

.nav-title {
  display: block;
  font-size: 1.3em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.about-me {
  font-size: 17px;
margin-right: 70px;
}

#btnLogOut {
  padding: 4px;
  font-size: 8px;
  color: #fff;
}

#userProfile {
  font-size: 11px;
}

#about-me-title {
  font-size: 11px;
}

@media (max-width: 1100px) {
  .nav-home {
   display: none;
  }

  .about-me {
    margin-left: 1rem!important;
  }
}
