<!-- Image and text -->
<nav class="navbar">
  <div>
    <a class="nav-brand ms-3" (click)="goHome()">
      <i class="snes-jp-logo"></i>
      <h1 id="nav-title" class="nav-title">Sala de Juegos</h1>
    </a>
  </div>

  <div>
    <a id="userProfile" class="navbar-brand" *ngIf="loggedUser | async as user">
      <img
        *ngIf="user.photoURL"
        [src]="user.photoURL"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      {{ user.email }}
    </a>

    <a
      *ngIf="loggedUser | async as user"
      id="btnLogOut"
      class="nes-btn is-error me-3"
      (click)="logout()"
    >
      Cerrar sesión
    </a>
  </div>
</nav>
