<app-navbar></app-navbar>

<body class="nes-container is-dark">
  <a
    id="ahorcado"
    class="ahorcado nes-container is-dark text-center"
    (click)="goToAhorcado()"
  >
    <h3>Ahorcado</h3>
  </a>

  <a
  id="mayor-menor"
    class="juego2 nes-container is-dark text-center"
    (click)="goToMayorOMenor()"
  >
    <h3>Mayor o Menor</h3>
  </a>
  <a
    class="juego3 nes-container is-dark text-center"
    (click)="goToPreguntados()"
  >
    <h3>Preguntados</h3>
  </a>
  <a class="juego4 nes-container is-dark text-center"></a>
</body>

<app-chat></app-chat>
