body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 100vh; /* Use min-height to ensure the body covers the entire viewport height */
}


.game-container {
  background-size: cover; /* Optional: Set the background size */
  background-repeat: no-repeat; /* Optional: Prevent background image from repeating */
  background-position: center; /* Optional: Center the background image */
}

#ahorcado {
  background-color: #34db58;

}

#mayor-menor {
  background-color: #3498db;
}

.juego3 {
  background-color: #e2241e;
}

.juego4 {
  background-color: #d4229f;
}



