
.main-container {
  height: 70vh;
}

.nes-container {
  display: flex;
  justify-content: space-around;

}

.profile-card img {
  border-radius: 5%;
}

#game-explanation {
  height: 100%;
}

ul li {
  margin-top: 15px;
}

.pierde {
  font-size: 17px;
}

@media (min-width: 1200px) {
  .nes-container {
      justify-content: flex-start;
  }
}

@media (max-width: 774px) {
  ul li {
    font-size: 14px;
  }
}


