<app-navbar></app-navbar>
<div class="main-container">
  <div class="nes-container is-dark">
    <div class="profile-card me-5">
      <img height="213px" src="assets/imgs/me.jpg" alt="profile picture" />
    </div>
    <div>
      <ul>
        <h4 class="name">Fermín González</h4>

        <li class="mt-4">
          Desarrollador de Software
          <a
            class="nes-text is-error"
            href="https://www.tgv.com.ar/"
            target="_blank"
            >@TGV</a
          >.
        </li>
        <li class="mt-2">
          Estudiante Tecnicatura Universitaria en Programación
          <a
            class="nes-text is-error"
            href="http://www.sistemas-utnfra.com.ar/#/pages/carrera/tecnico-programacion/resumen"
            target="_blank"
            >@UTN</a
          >.
        </li>
        <li class="mt-2">Buenos Aires, Avellaneda.</li>

        <div>
          <a href="https://github.com/Siomermin" target="_blank">
            <i class="nes-icon github is-medium mt-4"></i
          ></a>
          <a href="https://www.linkedin.com/in/fermingonzalez/" target="_blank"
            ><i class="nes-icon linkedin is-medium ms-3"></i
          ></a>
        </div>
      </ul>
    </div>
  </div>
  <div class="nes-container is-dark d-flex flex-column text-center" id="game-explanation">
    <h4 class="nes-text is-warning">Juego propio - Buscaminas</h4>
    <div class="lists mt-4">
      <ul class="nes-list is-disc">
        <li>El juego consiste en despejar todas las casillas de una pantalla que no oculten una <span class="nes-text is-warning">mina</span>.</li>
        <li>Algunas casillas tienen un número, el cual indica la cantidad de <span class="nes-text is-warning">minas</span> que hay en las casillas circundantes.</li>
        <li> Así, si una casilla tiene el número 3, significa que de las ocho casillas que hay alrededor (si no es en una esquina o borde) hay 3 con minas y 5 sin minas.</li>
        <li>Si se descubre una casilla sin número indica que ninguna de las casillas vecinas tiene <span class="nes-text is-warning">mina</span> y éstas se descubren automáticamente.</li>
        <li>Si se descubre una casilla con una <span class="nes-text is-warning">mina</span> se <span class="nes-text is-error pierde">pierde</span> la partida.</li>
      </ul>
    </div>
  </div>
</div>


<app-chat></app-chat>

