<app-navbar></app-navbar>
<div class="nes-container is-dark">
  <div class="profile-card me-5">
    <img height="213px" src="assets/imgs/me.jpg" alt="profile picture" />
  </div>
  <div>
    <ul>
      <h4 class="name">Fermín González</h4>

      <li class="mt-4">
        Desarrollador de Software
        <a
          class="nes-text is-error"
          href="https://www.tgv.com.ar/"
          target="_blank"
          >@TGV</a
        >.
      </li>
      <li class="mt-2">
        Estudiante Tecnicatura Universitaria en Programación
        <a
          class="nes-text is-error"
          href="http://www.sistemas-utnfra.com.ar/#/pages/carrera/tecnico-programacion/resumen"
          target="_blank"
          >@UTN</a
        >.
      </li>
      <li class="mt-2">Buenos Aires, Avellaneda.</li>

      <div>
        <a href="https://github.com/Siomermin" target="_blank">
          <i class="nes-icon github is-medium mt-4"></i
        ></a>
        <a href="https://www.linkedin.com/in/fermingonzalez/" target="_blank"
          ><i class="nes-icon linkedin is-medium ms-3"></i
        ></a>
      </div>
    </ul>
  </div>
</div>
<div class="nes-container is-dark d-flex flex-column text-center" id="game-container">
  <h5 class="nes-text is-warning">Juego propio</h5>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum animi
      asperiores expedita earum deserunt culpa facere. Placeat debitis
      consectetur exercitationem, libero aperiam minus porro rem vel error nisi
      animi voluptatem aliquid iste!
    </p>
  </div>
</div>

<app-chat></app-chat>

