<div class="nes-container is-dark">
  <h3 class="mb-4">Login</h3>

  <!-- Email input -->
  <div
    style="background-color: #212529; padding: 1rem"
    class="nes-field is-inline"
  >
    <input
      type="email"
      id="dark_field"
      class="nes-input is-dark"
      [(ngModel)]="user.email"
      placeholder="Correo electrónico"
    />
  </div>

  <!-- Password input -->
  <div
  style="background-color: #212529; padding: 1rem"
  class="nes-field is-inline"
>
  <input
    type="password"
    id="dark_field"
    class="nes-input is-dark"
    [(ngModel)]="user.password"
    placeholder="Contraseña"
  />
</div>

  <a class="nes-btn is-primary mb-4" (click)="login()">
    Iniciar sesión
  </a>

  <!-- Register buttons -->
  <div class="text-center">
    <a id="btn" class="nes-btn is-success btn-block mb-4" routerLink="/register">
      Crear cuenta nueva
    </a>
  </div>

  <a id="btn" class="nes-btn is-warning" (click)="autoLogin()">
    Acceso rápido
  </a>
</div>
