.main-container {
  min-height: 100vh;
}

.game-list-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.underline-link::before {
  content: '\2022'; /* Unicode bullet point character */
  margin-right: 0.5em;
  color: white;
}
